extends layout

block content
  h1= title
  p Welcome to #{title}
  p Wanna hear a joke?
  a(href="/joke") Joke
  p You can also get them all at once:
  a(href="/jokes") Jokes
  p Wanna add a joke? 
  p THIS FEATURE IS COMMING SOON!
